* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(9, 9, 43);
}

body {
  overflow-x: hidden;
}

.headings {
  color: white;
  margin: 10px;
  margin-top: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

span {
  color: orange;
}

nav {
  display: flex;
  width: 100vw;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: #0e0e3c;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

nav img {
  width: 80px;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #eff4fd;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fae0e0;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(228, 173, 72);
  transition: color 1s ease;
}

/* Home */
#home {
  padding: 0 15%;
  position: relative;
  width: 86%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* flex-wrap: wrap; */
}

.home-img {
  /* width: 530px; */
  height: 530px;
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: imgg 2s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes imgg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-text span {
  padding: 5px 25px;
  background: linear-gradient(130.08deg, #282528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 100px;
  color: wheat;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.home-text h1 {
  font-size: 70px;
  margin: 23px 0;
  color: white;
}

.home-text p {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 30px;
  margin-bottom: 30px;
}

.home-btn .btn {
  display: inline-block;
  padding: 14px 18px;
  color: wheat;
  background-color: #100f67;
  border: 1px solid skyblue;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
}

.home-btn a {
  text-decoration: none;
  color: wheat;
}

.home-btn .btn:hover {
  transform: translateY(-5px);
  color: rgb(228, 173, 72);
  background: transparent;
}

.two {
  background: #141414;
  border: 1px solid #141414;
  color: wheat;
  margin-left: 25px;
}

.two:hover {
  color: #141414;
  background-color: wheat;
}

/* About */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px 30px;
}

.about-img img {
  width: 250px;
  border-radius: 20px;
}

.about-img {
  padding: 0 30px;
}

.about-details {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 650px;
}

.about-details h2 {
  margin: 15px 0;
}

.about-details p {
  text-align: justify;
  margin: 15px 0;
  line-height: 28px;
}

.about-details a {
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  font-size: 20px;
  background-color: #100f67;
  border: 1px solid skyblue;
  text-decoration: none;
  color: wheat;
  transition: all 0.6s ease-in-out;
}

.about-details a:hover {
  transform: translateY(-5px);
  color: rgb(228, 173, 72);
  background: transparent;
}

/* Skills */
#skills {
  color: white;
}

#skills .skill-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-items {
  margin: 6px 30px;
  padding: 18px 35px;
  width: 330px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.skill-items:hover {
  background-color: rgb(16, 16, 67);
  transition: all 1s ease-in-out;
  transform: translateY(-5px);
}

.skill-items h2 {
  margin: 15px 0;
  color: wheat;
}

.prog-div,
.frontend-div,
.others-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.skill-logos {
  width: 50px;
  margin: 15px 20px;
}

.skill-logos:hover {
  width: 55px;
  transition: width 1s ease-in-out;
}

.prog-div p,
.frontend-div p,
.others-div p {
  margin: 0 10px;
  margin-right: 0;
  font-size: 17px;
}

/* Services */
#services {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  margin: 10px;
  text-align: justify;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 15px;
  background: linear-gradient(
    to top,
    rgb(25, 30, 106) 50%,
    rgb(128, 105, 209) 50%
  );
  background-size: 100% 200%;
  transition: all 0.8s;
  cursor: pointer;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(25, 30, 106);
}

.box h1 {
  font-size: 27px;
}

.box h1,
.box p {
  padding: 15px;
}

.box p {
  line-height: 23px;
}

.box img {
  width: 120px;
  height: 120px;
}

/* Contact */
#contact .headings {
  margin-bottom: 23px;
}

.contact-container {
  margin: auto;
  padding: 33%;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.contact-form {
  text-align: center;
  margin: auto;
  padding-left: 0;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.form-group .input-type {
  margin: 30px;
  color: white;
  font-weight: bold;
  width: 240px;
}

.form-group input,
.form-group textarea {
  width: 500px;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-btns {
  display: flex;
  justify-content: center;
  padding-left: 120px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #110f74;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2.5rem;
  margin: 12px 20px;
}

button:hover {
  background-color: #100f67;
  color: rgb(228, 173, 72);
  transition: all 1.2s ease-in-out;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0;
  font-size: 1.3rem;
  display: flex;
  color: wheat;
  width: 100vw;
}

.smlogos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-media h4 {
  align-self: center;
}

.social-logos img {
  width: 30px;
  margin: 0 20px;
}

.social-logos img:hover {
  width: 35px;
  transition: all 1s ease-in-out;
  transform: translateY(-5px);
}

/* Footer */
footer {
  background-color: #07071f;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
}

footer .follow,
.quick-links,
.copyright {
  flex: 1;
  margin: 10px;
}

.social-icons img {
  width: 40px;
  margin: 5px;
}

.social-icons img:hover {
  width: 45px;
  transform: translateY(-5px);
}

footer .quick-links ul {
  list-style: none;
  padding: 0;
}

footer .quick-links ul li {
  margin: 5px 0;
}

footer .quick-links ul li a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

footer .quick-links ul li a:hover {
  color: #d3ad7f;
  text-decoration: underline;
  transition: all 1s ease-in-out;
}

/* Responsive */

@media only screen and (max-width: 1850px) {
  #home {
    padding: 0 8%;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 1370px) {
  #home {
    padding: 0 4%;
    transition: 0.2s;
  }

  .home-text h1 {
    font-size: 60px;
  }

  .home-text p {
    font-size: 18px;
  }
}

/* Max-width: 1043px */
@media only screen and (max-width: 1043px) {
  /* About */
  .about-details h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 1020px) {
  .home-text h1 {
    font-size: 55px;
  }

  .home-text p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 950px) {
  #home {
    padding: 70px 4%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .home-text {
    order: 2;
  }

  .home-img {
    margin: auto;
    height: auto;
    width: auto;
  }

  .home-img img {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
}

/* Max-width:768px */
@media only screen and (max-width: 768px) {
  /* General */
  .headings {
    font-size: 25px;
    margin-top: 0;
  }

  /* Navbar */
  nav {
    font-size: 14px;
  }

  nav a img {
    margin-left: 10px;
  }

  /* About */
  .about-container {
    padding: 0 20px;
    padding-bottom: 25px;
  }

  .about-details {
    color: white;
    flex-basis: 600px;
  }

  .about-details h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
  }

  .about-details p {
    margin: 10px 0;
    line-height: 25px;
    font-size: 14px;
  }

  .about-details a {
    padding: 7px;
    font-size: 16px;
  }

  /* Skills */
  #skills .headings {
    margin-bottom: 0;
  }

  .skill-items {
    margin: 4px 20px;
    padding: 7px 14px;
    width: 300px;
  }

  .skill-items h2 {
    margin: 10px 0;
    color: wheat;
    font-size: 21px;
  }

  .skill-logos {
    width: 40px;
    margin: 12px 16px;
  }

  .skill-logos:hover {
    width: 43px;
    transition: width 1s ease-in-out;
  }

  .prog-div p,
  .frontend-div p,
  .others-div p {
    margin: 0 7px;
    margin-right: 0;
    font-size: 15px;
  }

  /* Services */
  .box {
    width: 350px;
    height: 400px;
    padding: 15px;
  }

  .box h1 {
    font-size: 25px;
  }

  .box h1,
  .box p {
    padding: 8px;
  }

  .box p {
    font-size: 15px;
  }

  .box img {
    width: 100px;
    height: 100px;
  }

  /* Contact */
  #contact .headings {
    margin-bottom: 14px;
  }

  .contact-container {
    padding: 1% 20%;
  }

  .form-group {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .form-group .input-type {
    margin: 22px;
  }

  .social-media {
    flex-direction: column;
    padding: 10px 0;
    font-size: 1rem;
    color: wheat;
  }

  .social-media h3 {
    margin-bottom: 10px;
  }

  /* Footer */
  footer {
    font-size: 0.8rem;
  }

  footer .quick-links ul li a {
    font-size: 0.8rem;
  }

  .social-icons img {
    width: 30px;
    margin: 4px;
  }

  .social-icons img:hover {
    width: 30px;
  }
}

/* Max-width:480px */
@media only screen and (max-width: 480px) {
  /* General */
  .headings {
    font-size: 20px;
    margin-top: 0;
    text-decoration: underline;
  }

  /* Navbar */
  nav {
    font-size: 12px;
  }

  /* Home */
  .home-text h1 {
    font-size: 45px;
  }

  .home-text p {
    font-size: 15px;
  }

  .home-btn {
    padding: 10px 14px;
  }

  /* About */
  .about-container {
    padding: 0 13px;
    padding-bottom: 25px;
  }

  .about-details {
    color: white;
    padding: 6px;
    flex-basis: 550px;
  }

  .about-details h2 {
    margin: 7px 0;
    text-align: center;
    font-size: 18px;
  }

  .about-details p {
    margin: 7px 0;
    line-height: 22px;
    font-size: 12px;
  }

  .about-details a {
    padding: 5px;
    font-size: 14px;
  }

  /* Skills */
  #skills .headings {
    margin-bottom: 0;
  }

  .skill-items {
    margin: 3px 14px;
    padding: 5px 10px;
    width: 275px;
  }

  .skill-items h2 {
    margin: 7px 0;
    color: wheat;
    font-size: 18px;
  }

  .skill-logos {
    width: 35px;
    margin: 8px 12px;
  }

  .skill-logos:hover {
    width: 36.5px;
    transition: width 1s ease-in-out;
  }

  .prog-div p,
  .frontend-div p,
  .others-div p {
    margin: 0 5px;
    margin-right: 0;
    font-size: 13px;
  }

  /* Services */
  .box {
    width: 360px;
    height: 490px;
    padding: 15px;
    padding-bottom: 25px;
  }

  .box h1 {
    font-size: 20px;
  }

  .box h1,
  .box p {
    padding: 5px;
  }

  .box p {
    font-size: 15px;
  }

  .box img {
    width: 80px;
    height: 80px;
  }

  /* Contact */
  #contact .headings {
    margin-bottom: 7px;
  }

  .contact-container {
    padding: 1% 20%;
  }

  .form-group {
    flex-wrap: wrap;
    margin-bottom: 5px;
    font-size: 0.85rem;
  }

  .form-group .input-type {
    margin: 6px;
  }

  .contact-btns {
    flex-wrap: wrap;
    padding-left: 0;
  }

  button {
    padding: 6px 12px;
    font-size: 1rem;
    margin: 3px 5px;
  }

  /* Footer */
  footer {
    font-size: 0.7rem;
  }

  footer .quick-links ul li a {
    font-size: 0.7rem;
  }

  .social-icons img {
    width: 20px;
    margin: 3px;
  }

  .social-icons img:hover {
    width: 20px;
  }
}
