* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(9, 9, 43);
}

#home-sec {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #eff4fd;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: #0e0e3c;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fae0e0;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(228, 173, 72);
  transition: color 1s ease;
}

.home {
  margin-left: 8%;
  margin-top: 13%;
}

.home h1 {
  font-size: 50px;
  color: #fcf4f4;
  margin-bottom: 20px;
}

span {
  color: orange;
}

.home p {
  color: #fdf3f3;
  line-height: 26px;
}

.home a {
  background: #2c5f90;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: wheat;
  display: inline-block;
  margin: 30px 20px;
  border-radius: 5px;
}

.home a:hover {
  color: rgb(228, 173, 72);
  /* font-size: 20px; */
  transition: color 2s ease-in-out;
}

.images {
  width: 45%;
  height: 65%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

#mypic {
  position: absolute;
  bottom: 30%;
}

.images:hover #shape {
  bottom: 40px;
}

.images:hover #mypic {
  left: 45%;
}

/* About */
#about {
  height: 450px;
  color: white;
}

.headings {
  color: white;
  margin: 10px;
  margin-top: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.about-content {
  /* border: 2px solid white; */
  width: 70vw;
  margin: auto;
  padding: 0 100px;
}

#about .about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-content .pic img {
  height: 350px;
  border-radius: 15px;
  margin: 12px 0;
}

.about-content .details {
  padding: 12px;
  margin: 12px 50px;
  flex-basis: 680px;
}

.about-content .details h2 {
  margin: 15px 0;
  text-align: center;
}

.about-content .details p {
  margin: 15px 0;
  line-height: 28px;
}

.cv-btn {
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  font-size: 20px;
  background-color: #2c5f90;
  border: none;
}

.cv-btn a {
  color: wheat;
  text-decoration: none;
}

.cv-btn a:hover {
  color: rgb(228, 173, 72);
  transition: padding, color 2s ease-in-out;
}

/* Skills */
#skills {
  color: white;
}

#skills .skill-div {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}

.skill-items {
  margin: 20px 30px;
  padding: 18px 35px;
  width: 330px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.skill-items:hover {
  background-color: rgb(16, 16, 67);
  transition: background-color 2s ease-in-out;
}

.skill-items h2 {
  margin: 15px 0;
  color: wheat;
}

.prog-div,
.frontend-div,
.others-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.skill-logos:hover {
  width: 55px;
  transition: width 1s ease-in-out;
}

.prog-div p,
.frontend-div p,
.others-div p {
  margin: 0 10px;
  margin-right: 0;
  font-size: 17px;
}

.skill-logos {
  width: 50px;
  margin: 15px 20px;
}

/* Services */
#services {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  margin: 10px;
  text-align: justify;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 15px;
  background: linear-gradient(
    to top,
    rgb(25, 30, 106) 50%,
    rgb(128, 105, 209) 50%
  );
  background-size: 100% 200%;
  transition: all 0.8s;
  cursor: pointer;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(25, 30, 106);
}

.box h1 {
  font-size: 27px;
}

.box h1,
.box p {
  padding: 15px;
}

.box p {
  line-height: 23px;
}

.box img {
  width: 120px;
  height: 120px;
}

/* Contact */
#contact .headings {
  margin-bottom: 23px;
}

.contact-container {
  margin: auto;
  padding: 33%;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.contact-form {
  text-align: center;
  margin: auto;
  padding-left: 0;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.form-group .input-type {
  margin: 30px;
  color: white;
  font-weight: bold;
  width: 240px;
}

.form-group input,
.form-group textarea {
  width: 500px;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-btns {
  display: flex;
  justify-content: center;
  padding-left: 120px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #110f74;
  color: wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2.5rem;
  margin: 12px 20px;
}

button:hover {
  background-color: #100f67;
  color: rgb(228, 173, 72);
  transition: all 1.2s ease-in-out;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0;
  font-size: 1.3rem;
  display: flex;
  color: wheat;
  width: 100vw;
}

.smlogos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-media h4 {
  align-self: center;
}

.social-logos img {
  width: 30px;
  margin: 0 20px;
}

.social-logos img:hover {
  width: 35px;
  transition: width 1s ease-in-out;
}

/* Footer */
footer {
  background-color: #07071f;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
}

footer .follow,
.quick-links,
.copyright {
  flex: 1;
  margin: 10px;
}

.social-icons img {
  width: 40px;
  margin: 5px;
}

.social-icons img:hover {
  width: 45px;
}

footer .quick-links ul {
  list-style: none;
  padding: 0;
}

footer .quick-links ul li {
  margin: 5px 0;
}

footer .quick-links ul li a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

footer .quick-links ul li a:hover {
  color: #d3ad7f;
  text-decoration: underline;
  transition: all 1s ease-in-out;
}

/* Responsive */

/* Max-width:768px */
@media only screen and (max-width: 768px) {
  /* General */
  .headings {
    font-size: 25px;
    margin-top: 0;
  }

  /* Contact */
  #contact .headings {
    margin-bottom: 14px;
  }

  .contact-container {
    padding: 1% 20%;
  }

  .form-group {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .form-group .input-type {
    margin: 22px;
  }

  .social-media {
    flex-direction: column;
    padding: 10px 0;
    font-size: 1rem;
    color: wheat;
  }

  .social-media h3 {
    margin-bottom: 10px;
  }

  /* Footer */
  footer {
    font-size: 0.8rem;
  }

  footer .quick-links ul li a {
    font-size: 0.8rem;
  }

  .social-icons img {
    width: 30px;
    margin: 4px;
  }

  .social-icons img:hover {
    width: 30px;
  }
}

/* Max-width:480px */
@media only screen and (max-width: 480px) {
  /* General */
  .headings {
    font-size: 20px;
    margin-top: 0;
  }

  /* Contact */
  #contact .headings {
    margin-bottom: 7px;
  }

  .contact-container {
    padding: 1% 20%;
  }

  .form-group {
    flex-wrap: wrap;
    margin-bottom: 5px;
    font-size: 0.85rem;
  }

  .form-group .input-type {
    margin: 6px;
  }

  .contact-btns {
    flex-wrap: wrap;
    padding-left: 0;
  }

  button {
    padding: 6px 12px;
    font-size: 1rem;
    margin: 3px 5px;
  }

  /* Footer */
  footer {
    font-size: 0.7rem;
  }

  footer .quick-links ul li a {
    font-size: 0.7rem;
  }

  .social-icons img {
    width: 20px;
    margin: 3px;
  }

  .social-icons img:hover {
    width: 20px;
  }
}
